@import url('https://fonts.googleapis.com/css2? family= Open+Sans & display=swap');

body
{
    display: block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin:0px;
    
 }

  h1
  {
      font-size: 3em;
  }

  h2 
  {
    display: block;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: justify;
}

 header
 {
     display: flex;
    background-color: black;

 }

 #header
 {
     display: block;
     background-color:qua;
     width: 83%;
     height:Auto;
     padding-bottom: 0px;

 }

 #circle
 {
    margin-left: auto;
    background-color: #E0A33E;
    width: 300px;
    height: 600px;
    border-bottom-left-radius: 300px;
    border-top-left-radius: 300px;
}

 .res
 {
     background-color: ed;
     width: 25px;
     height: 25px;
     margin: 10px;
 }
.Nav
{

    padding-top: 30px;
     display:flex ;
     height:50px ;
     margin: auto;
     margin-left: 25%;
     width: 70%;
     margin-top: px;
 }
 
 .menu
 {
     display: flex;
     background-color: rd;
     padding-bottom: 20px;
     width: 30%;
     justify-content: space-between;
     margin-left: 40%;
 }

 li
 {
     list-style-type: none;
     color: white;
     font-weight: bold;
 }
 a img:hover
 {
   
 }

 
 a
  {
    text-decoration: none;
    
 }
 
 a ul li{
    background-color: #E0A33E;
    border-radius: 5px;

 }
 .Logo{
     width:40px ;
     height: 30px;
     margin-top: 5px;
 }
 .Status{
     display: flex;
     background-color:brwn;

     width: 30%;
     height: 40%;
     text-align: justify;
 }
 .Name{
     background-color: gren;

     width: 15%;
     height: 30%;
     margin-top: 270px;
 }
 .Person{
     background-color: oral;
     display: flex;
     margin-left:25%;
     margin-top:130px;
    
     width: 70%;
     height: 65%;
 }
 section{
     display: block;
 }
 #sectc{
    background-color:white;
    padding:30px;
 }
 .service{
     margin: auto;
     width: 30%;
     color: black;
 
 }
 
 #Sect1{
     display:flex;
     width: 40%;
     justify-content: space-between;
     background-color: dakorange;
     margin: auto;
     

 }
 .conteneur{
     display: inline-block;
     background-color: lue;
     width: 187px;
     color: black;
 }

 .Rec{
    border: solid 4px #541169 ;
    height:229px;
    width: 186.5px ;
    background-color: white ;
    border-radius: 5px;
    color: black;
}

/*.text{
    text-align: center;
     display:inline ;
     background-color:red;
     width: 38%;
     justify-content: space-between;
     margin: auto;
     color: black;

}*/
#sectb{
    background-color: black;
    padding: 20px 0px 0px;
    height: 700px;

}
.main{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.porto{
    color: white;
}
.portofolio{
    display: flex;
    margin: auto;
    width:730px;
    padding-top: 5px;
    justify-content: space-between;
    height: 300px;

    

}
#secta{
    background-color:white;
    padding:20px;
}
#tof1{
    margin-bottom: 21px;
}
#sms{
    margin: auto;

}
.Pam{
    background-color:#E0A33E ;
    width:600px;
    height:119px;
    margin: auto;
    margin-left: 34%;
    border: 2px hsl(286, 72%, 24%) solid;
    border-radius:16px;
    margin-top: 50px;
}

.Les{
    background-color:#E0A33E ;
    width: 33%;
    height:119px;
    margin-left: 34%;
    border: 2px  #541169 solid;
    border-radius:16px;
    margin-top: 5=px;
}

.mg{
    position: absolute;
    display: flex;
    background-color: blueviolet;
    margin-top: 10px;
    margin-left: 32%;
}

.contact{ 
    width:auto;
    margin-left: 9.5%;
    margin-top: 20px;


   
}
.formulaire{
    display: inline-block;
    background-color: bique;
    width: 23.5em;
    padding-top: 5px;
    color: black;
    text-align: justify;
    margin-bottom: auto;
}

form{
    background-color:ed;
    width: 369px;
    margin-bottom: 0px;
}

input{
    margin-bottom: 15px;
    width: 369px;
    height: 37px;
    background-color:#E5E5E5 ;
    border: 2px black solid;
}

textarea{
    width: 369px;
    height:106px ;
    background-color:#E5E5E5 ;
    border: solid;
}

button{
    display: flex;
    margin-top: 10px;
    margin-left:135px ;
    padding:5px 0px 5px 15px ;
    width: 83px;
    height: 30px;
    background-color: #E0A33E;
}

#maps{
    display: inline-block;
    margin-left: 20px;
    margin-top: 0px;
   
}

footer{
    display: block;
    background-color:#46454D ;
    padding-top:5px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    width: auto;
    height:45px;
}