@import url('https://fonts.googleapis.com/css2? family= Open+Sans & display=swap');
body{
    display: block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    
 }
 header{

 }
.Nav{
   
    text-align: center;
     display:flex ;
     height:50px ;
     background-color: aua;
     margin: 0px 20px;
     width: 70em;
     margin: auto;
     margin-top: 50px;
 }
 
 .menu{
     display: flex;
     background-color: rd;
     padding-bottom: 20px;
     width: 30%;
     justify-content: space-between;
     margin-left: 40%;
 }
 .Logo{
     width:40px ;
     height: 30px;
     margin-top: 5px;
 }
 .Status{
     display: flex;
     background-color: brown;
     width: 200px;
     height: 300;
 }
 .Person{
     display: flex;
     margin-left:25%;
     margin-top:150px;
 }
 section{
     display: block;
 }
 .service{
     margin: auto;
     width: 300px;
 }
 
 #Sect1{
    text-align: center;
     display:flex ;
     width: 40%;
     justify-content: space-between;
     margin: auto;
     

 }
 .Rec{
    border: solid 2px #541169 ;
    height:229px;
    width: 186.5px ;
    background-color: white ;
    border-radius: 5px;
    color: black;
}
#text{
    text-align: center;
     display:flex ;
     background-color: auamarine;
     width: 38%;
     justify-content: space-between;
     margin: auto;

}
.main{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.portofolio{
    display: flex;
    margin: auto;
    background-color: isque;
    width:730px;
    padding-top: 5px;
    justify-content: space-between;

    

}
#tof1{
    margin-bottom: 21px;
}
#sms{
    margin: auto;

}
.Pam{
    background-color:#E0A33E ;
    width:600px;
    height:119px;
    margin: auto;
    margin-left: 34%;
    border: 2px hsl(286, 72%, 24%) solid;
    border-radius:16px;
    margin-top: 50px;
}

.Les{
    background-color:#E0A33E ;
    width: 33%;
    height:119px;
    margin-left: 34%;
    border: 2px  #541169 solid;
    border-radius:16px;
    margin-top: 5=px;
}
.mg{
    position: absolute;
    display: flex;
    background-color: blueviolet;
    margin-top: 10px;
    margin-left: 32%;
}
.contact{
    display: flex;
    background-color: beige;
    width: ;

}
.formulaire{
    display: block;
    margin: auto;
    background-color: bisque;
    width:730px;
    padding-top: 5px;
    justify-content: space-between;

}
form{
    background-color: bisque;
    width: 235px;
    height:450px;
    align-content:space-betwee ;
    text-align: justify;
}
input{
    margin-bottom: 15px;
    width: 369px;
    height: 37px;
}
textarea{
    width: 369px;
    height:106px ;
}
form div {
    background-color: #93ab51;
    width: 162%;
    
 }
 button{
     display: flex;
     margin-top: 10px;
     margin-left:135px ;
     padding:5px 0px 5px 15px ;
     width: 83px;
     height: 30px;
     background-color: #E0A33E;
     border: ;
 }
#maps{
    background-color: #541169;
    width:650px;
    margin-left: 300px;
    margin-top: 0px;
}

footer{
    display: block;
    background-color:#46454D ;
    padding-top:5px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    height:45px;
}